.father {
  position: relative;
}

#easyAR {
  position: relative;
}

#easyAR > div > canvas {
  position: absolute;
  top: 0%;
}
img {
  pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  -moz-pointer-events: none;
}
/* 竖屏 */
@media screen and (max-width: 450px) and (min-width: 381px) {
  .backImage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .backImage > img {
    width: 122%;
    height: 100%;
  }

  .btns {
    display: none;
    position: absolute;
    top: 7%;
    right: 5%;
    width: 80px;
    height: 200px;
    text-align: center;
    animation: show 1s;
  }

  .btns > li {
    width: 24vw;
    margin-bottom: 6vw;
  }
  .btns > li > img {
    width: 100%;
    height: 100%;
  }
  #models {
    position: absolute;
  }

  .foots {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
  }

  .foots > li {
    width: 100px;
    height: 100px;
  }
  li > img {
    width: 100%;
    height: 1000%;
  }
  #audios {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
  }
  #yueqi {
    display: none;
    position: absolute;
    top: 7%;
    width: 24vw;
    animation: show 1s;
  }
  #yueqi > img {
    width: 100%;
    height: 100%;
  }
  @keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  #loadings {
    width: 160px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #update {
    width: 96px;
    height: 96px;
    margin: 0 auto;
    background: url("https://lz06-1301325388.cos.ap-chengdu.myqcloud.com/temp/ar/loading.png");
    animation: move 1.2s steps(12, end) infinite;
  }
  @keyframes move {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: -1152px 0;
    }
  }
}
/* 竖屏 16：8 */
@media screen and (max-width: 480px) and (min-width: 320px) {
  .backImage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .backImage > img {
    width: 122%;
    height: 100%;
  }

  .btns {
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 80px;
    height: 200px;
    text-align: center;
    animation: show 1s;
  }

  .btns > li {
    width: 24vw;
    margin-bottom: 1vw;
  }
  .btns > li > img {
    width: 100%;
    height: 100%;
  }
  #models {
    position: absolute;
  }

  .foots {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
  }

  .foots > li {
    width: 100px;
    height: 100px;
  }
  li > img {
    width: 100%;
    height: 100%;
  }
  #audios {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
  }
  #yueqi {
    display: none;
    position: absolute;
    top: 5%;
    width: 24vw;
    animation: show 1s;
  }
  #yueqi > img {
    width: 100%;
    height: 100%;
  }
  @keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  #loadings {
    width: 160px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #update {
    width: 96px;
    height: 96px;
    margin: 0 auto;
    background: url("https://lz06-1301325388.cos.ap-chengdu.myqcloud.com/temp/ar/loading.png");
    animation: move 1.2s steps(12, end) infinite;
  }
  @keyframes move {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: -1152px 0;
    }
  }
}
